

/* Home */


h4 {
    color: red;
}

h1.title {
    color: red;
    word-spacing: 3px;

}

.home {
    font-size: 15px;
    color: black;
    text-decoration: none;
    
}

.genre {
    text-decoration: underline;

}


.poster {
    height: 475px;
    min-height: 475px;
    border: solid black 5px;
    max-height: 600px;
    float: left;
    margin-right: 30px;
    margin-left: 30px;

}

.imgarea {
    background-color: red;
}

.arrange {
    background-color: white;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    margin: 30px auto;
    border: 5px solid coral;
    border-radius: 30px;
}

.arrange2 {
    margin-right: 30px;
    width: fit-content;
    background-color:white;
}

.backoption{
    position: fixed; 
    display: flex;
    background-color:rgb(20, 80, 122) ;
    left: 20px;
    top: 20px;  
    justify-content: space-around;
    padding: 9px 20px;
    gap: 20px;
    border: 2px solid white;
    border-radius: 100px;

    
}

.homeimg{
    width: 50px;
    background-color: white;
    border-radius: 50px;
    transition: transform 0.5s ease;
}

.homeimg:hover{
    transform: scale(1.09);
}

.novelimg{
    width: 50px;
    background-color: white;
    border-radius: 50px;
    transition: transform 0.5s ease;
}

.novelimg:hover{
    transform: scale(1.09);
}


/* Chapter 1 */




.pendragon {
    color: darkgrey;
}

/* Chapter 2 */


b.demon {
    color: red;
}

/* Chapter 3 */


/* Chapter 4 */



/* Illustration */
.illustration {
    text-align: center;
}

.table {
    text-align: center;
    width: 1000px;
    margin: auto;
}

.illustration {
    font-size: 12px;
}


.illustrationbody {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.table {
    background-color: aliceblue;
}

.h1illustration {
    color: red;
    text-align:center;
}

.img {
    height: 250px;

}

.illustrationlink{
    display: flex;
    justify-content: center;
}


/* Navigation Bar */

.navbar{
    height: 50px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbarlight{
    height: 50px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0px;
}

.imgmoon{
    width: 20px;
    padding: 5px;
}
.imgsun{
    width: 25px;
    padding: 3px;
}

.moon{
    width: fit-content;
    height: fit-content;
    margin-right: 15px;
    background-color: grey;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.moon:hover{
    background-color: white;
}

.sun{
    width: fit-content;
    height: fit-content;
    margin-right: 15px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.sun:hover{
    background-color: black;
}

.theme{
    margin-right: 10px;
    font-size: 12px;
    color: white;
}

.close{
    margin-right: 20px;
    width: fit-content;
    background-color:rgb(193, 171, 145);
    display: flex;
    align-items: center;
    padding: 1px;
    padding-left: 15px;
    border-radius: 40px;
    justify-content: center;
}

.nextprev{
    width: 100vw;
    display: flex;
}

.previous{
    background-color: wheat;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    margin-left: 10px;
    transition: background-color 0.5s ease;
}

.previous:hover{
    background-color: rgb(185, 158, 108);
}

.imgprev{
    width:12px;
    position: relative;
    right: 1.5px;
    top: 1px;
}

.next{
    background-color: wheat;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    margin-left: 5px;
    transition: background-color 0.5s ease;
}

.next:hover{
    background-color: rgb(185, 158, 108);
}

.imgnext{
    width:12px;
    position: relative;
    left: 1.5px;
    top: 1px;
}


/* All in One */

html{
    scroll-behavior: smooth;
}

.arrow{
    background-color: white;
    opacity: 0.5;
    width: fit-content;
    height: fit-content;
    position:fixed;
    top: 86.5vh;
    left: 93.5vw;
}

.light{
     background-color: grey;
}

.up{
    width: 50px;
    padding: 1px;
}

.chaptertext {
    color: white;
    padding: 25px;
    line-height: 40px;
}

.chaptertextlight {
    color: black;
    padding: 25px;
    line-height: 40px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.chapterbg {
    background-color: black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

.chapterbglight{
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

.HomeNovel {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.chaptertittle {
    color: red;
    text-decoration: underline;
    margin-left: 25px;
}

a:hover {
    color: red;
}

.bottomlink{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 20px;
    
}


.bottomlink a{
    text-decoration: none;
    background-color: rgb(28, 115, 177);
    color: white;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease,color 0.5s ease;
}

.bottomlink a:hover{
    background-color:rgb(20, 80, 122) ;
}

.bottomlinklight{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 20px;

}

.bottomlinklight a{
    text-decoration: none;
    background-color: rgb(28, 115, 177);
    color: white;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease,color 0.5s ease;
}

.bottomlinklight a:hover{
    background-color:rgb(20, 80, 122) ;
}

